@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://lizannecerami.github.io/admiration-project/src/images/beachbackground.jpg");
  background-size: cover;
}

header, section {
  margin-bottom: 100px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

h1,h2,h3 {
  color: white;
  justify-content: center;
}

h1{
  font-family: 'Inspiration';
  font-size: 120px;
  filter: drop-shadow(0px 0px 20px rgba(194, 65, 65, 0.942));
}

h2, h3 {
  font-family: 'Poppins';
  font-size: 25px;
}

p {
  color: white;
  font-family: Poppins;
  font-size: 20px;
}

a:link,
a:visited { color: white; }

a:hover { color: hotpink; }

.main-container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.main-container img { 
  border: 5px solid rgba(0, 0, 0, 0.152);
  border-radius: 15px;
  transition: transform .5s ease-in-out;  
 }

.main-container img:hover {
  /* transform: scale(1.1); */
  filter:drop-shadow(10px 10px 30px rgba(231, 101, 172, 0.603));
}

/* Small */
@media (max-width: 576px) {
  .main-container { width: 60%; }

  img:hover {
    transform: scale(1);
  }
}

/*  Medium */
@media (min-width: 768px) {
  .main-container { width: 60%; }
}

/* Large */
@media (min-width: 992px) {
  .main-container { width: 40%; }
}
